.main-body {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  min-height: 400px;
  min-width: 400px;
  padding: 2rem;
  background-color: #a895b3;
  border-radius: 5px;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.form-input input {
  padding: 8px;
  border-radius: 5px;
  color: black;
  border: 2px solid black;
  outline: none;
}

.form-input label {
  font-size: 20px;
  color: black;
}

.form-button {
  margin-top: 30px;
}

.form-button button {
  font-size: 18px;
  background-color: rgb(58, 58, 201);
  color: white;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.form-input select {
  padding: 8px;
  border-radius: 5px;
  color: black;
  border: 2px solid black;
  outline: none;
}
