.main-body {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link-button {
  color: white;
  background: rgb(94, 94, 255);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.main-heading {
  color: gray;
  font-size: 2rem;
  margin-bottom: 10px;
}
