.main-body {
  min-height: 100vh;
  background-color: #08111d;
  display: flex;
  justify-content: center;
  align-items: start;
}

.container {
  /* margin: 4rem 2rem; */
  padding: 5rem 6rem;
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: justify;
}

.headerSection {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {
  width: fit-content;
}

.right-image {
  width: 30rem;
  border-radius: 10px;
  /* margin-top: -2rem; */
}

.title {
  font-size: 2.8rem;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
  line-height: 50px;
}

strong {
  color: white;
  font-size: 1.2rem;
}

span {
  font-size: 1.2rem;
}

.metaInfo {
  font-size: 1rem;
  color: #b9b9b9;
}

.metaText {
  margin: 5px 0;
}

.tagsSection {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.tagsList {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 0.6rem;
}

.tag {
  display: flex;
  border:2px solid rgb(94, 94, 255);
  color: white;
  padding: 2px 12px;
  border-radius: 20px;
  font-size: 1rem;
  transition: 0.2s ease-in-out;
}

.tag:hover{
  cursor: pointer;
  scale: 105%;
  background-color: rgba(94, 94, 255, 0.328);
}

.tagsSection p {
  color: #b9b9b9;
}
.tagsSection strong {
  font-size: 1.2rem;
}

.actionButtons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.editButton,
.deleteButton {
  padding: 5px 16px;
  font-size: 1rem;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editButton {
  background-color: rgb(94, 94, 255);
  color: white;
}

.deleteButton {
  background-color: #f44336;
  color: white;
}

.editButton:hover {
  background-color: rgb(77, 77, 253);
}

.deleteButton:hover {
  background-color: #e41f1f;
}

.description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: white;
  margin-top: 3rem;
}
